/* custom css */
.blog-category {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
    border:thin solid #ededed;
    margin: 5px;
}

.blog-category a {
    text-decoration: none;
}

.my-post{
    border-radius: 10px;
    margin-bottom: 15px;
    border: thin solid #cddfdb;
    padding: 5px;
}

.my-post-footer{
    font-size: 0.8rem;
    text-align: right;
}

.related-post {
    border-radius: 15px; margin-bottom: 10px; border-bottom: thin solid #ededed;
}
.related-post:hover{
    color: #FF6922;
}
